Email Integration (HR).json
{
  "name": "Email Integration (HR)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c741a2d4-a731-4522-bdf6-eef0adb314a2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ukuNGeLtMR1I3oXK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "HrQuery",
              "description": "The text is related to the Hr policy of the company."
            },
            {
              "category": "NonHrQuery",
              "description": "The text is not related to the Hr policy of the company."
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "b4903a07-ee83-4106-861f-2949f4a1889f",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "6cf8b944-a943-4610-b286-7b4c9aeac3c1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NbFDNZdjZCNlr4ok",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        144
      ],
      "id": "86e11cb9-8c95-4ed7-8d1b-0c61a89fa82e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Role\nAct like an HR assistant bot who replies to employee queries regarding to the policies.\n\n# What to do / How to do\n- As soon as you get a query, first thing that you need to do\nis use the 'hr_knowledge_base' tool to fetch the similar\nchunks of information\n- The using that, generate a response and give it to the\nemployee\n\n# Tools available\n-'hr_knowledge_base': Use this tool search for vectors similar\nto user prompt.\n\n# Important notes\n-Use a friendly tone."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        -16
      ],
      "id": "7fda75fb-175b-43bc-bca1-e8fb9af6490b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        192
      ],
      "id": "0560dee8-5eb9-4a41-87bb-053ba01e596d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        192
      ],
      "id": "dfab55d8-8d69-43a0-9e68-5daa1ba8c59b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NbFDNZdjZCNlr4ok",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Fetches the information and provide to the agent. Which is similar to query/prompt provide by the user.",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-bot",
          "mode": "list",
          "cachedResultName": "hr-bot"
        },
        "options": {
          "pineconeNamespace": "HRDocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        912,
        96
      ],
      "id": "7326f2b3-99b7-4952-b33d-0a7de1f74440",
      "name": "hr_knowledge_base",
      "credentials": {
        "pineconeApi": {
          "id": "OUihx95zk3NFYnoj",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "hr_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "hr_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b4511a6b-c5dd-45c2-80cc-0cfcf2f7f04a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cff7ad16c3727bd87c2aec1b4da4fd643f49da1dc14a101f190b596015c8c04"
  },
  "id": "HcQZDn1CgHEm5VtT",
  "tags": []
}