Google_Drive Setup Rag Based.json
{
  "name": "Google_Drive Setup Rag Based",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17cG62CRB7g8uObUsxd5HdZzSvau9qv2S",
          "mode": "list",
          "cachedResultName": "n8n demo ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17cG62CRB7g8uObUsxd5HdZzSvau9qv2S"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bf9e3454-2d2f-490b-832c-72277a260128",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UA9NTkWrRezwsTZx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ad233bb0-dedd-4cbe-89a3-04b9c15e6ffe",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UA9NTkWrRezwsTZx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "8b0e72b1-0b40-4d71-a659-ad7b5ebe7d3a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "OUihx95zk3NFYnoj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "70d556fb-3d19-47bf-a8a3-71154046e8d7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "6a2cd692-b57d-4059-b7a1-c6a37d8cfbcb",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        208
      ],
      "id": "89951318-5125-4a2e-82a8-47db417061c8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NbFDNZdjZCNlr4ok",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Rock. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1024,
        160
      ],
      "id": "86ae15da-07cd-44bb-850a-4e5bdada8152",
      "name": "When chat message received",
      "webhookId": "59d1fee2-0909-48b2-b9f2-db93e823b3de"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Use the pinecone vector store 1 tool to fetch relevant information regarding user prompt."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1248,
        160
      ],
      "id": "2246a5bb-d36a-4887-b0da-d5a719ec347e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        368
      ],
      "id": "e1820535-e887-4cc3-acfb-a80e35dd5ebd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NbFDNZdjZCNlr4ok",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1264,
        368
      ],
      "id": "253a4fb2-7c42-46b5-b86e-6870d0af7166",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this database to fetch relevant information regarding the user prompt",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1408,
        352
      ],
      "id": "3351c24c-489a-4517-80a7-49a619f5f4df",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "OUihx95zk3NFYnoj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1504,
        560
      ],
      "id": "fdd645dc-1113-4cb2-a5d7-f91f3a6c43ce",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "NbFDNZdjZCNlr4ok",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1747a65b-e8ea-4902-9ef5-8fd8ff97eb84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cff7ad16c3727bd87c2aec1b4da4fd643f49da1dc14a101f190b596015c8c04"
  },
  "id": "sYLgYWtWDGNVnu7j",
  "tags": []
}