HR_bot.json
{
  "name": "HR_bot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "90ac3516-58a2-4c43-94b0-1e64b50374dc",
      "name": "When chat message received",
      "webhookId": "cf60daa0-8d40-4a8e-8fcf-2e2c09e0613e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Role\nAct like an HR assistant bot who replies to employee queries regarding to the policies.\n\n# What to do / How to do\n- As soon as you get a query, first thing that you need to do\nis use the 'hr_knowledge_base' tool to fetch the similar\nchunks of information\n- The using that, generate a response and give it to the\nemployee\n\n# Tools available\n-'hr_knowledge_base': Use this tool search for vectors similar\nto user prompt.\n\n# Important notes\n-Use a friendly tone."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "5119acec-1049-416d-8f13-185cbd312941",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        224
      ],
      "id": "9b00d31e-2bae-4d82-8d60-9f49416f68ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NbFDNZdjZCNlr4ok",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        304
      ],
      "id": "b9c08d0d-0d0e-4b4d-88b6-ccec710796c2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11QqUQYPSByu_qVUr8tcotAars0BWgOw-",
          "mode": "list",
          "cachedResultName": "HrBot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11QqUQYPSByu_qVUr8tcotAars0BWgOw-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        832,
        16
      ],
      "id": "6ed38bf0-283e-4d35-b779-fb1186268bb5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UA9NTkWrRezwsTZx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        16
      ],
      "id": "b25888df-685f-46a6-bf01-7720d1f743f5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UA9NTkWrRezwsTZx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-bot",
          "mode": "list",
          "cachedResultName": "hr-bot"
        },
        "options": {
          "pineconeNamespace": "HRDocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1248,
        16
      ],
      "id": "f37c3ea6-e8c4-417c-b40e-d0d761bab714",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "OUihx95zk3NFYnoj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1392,
        224
      ],
      "id": "d088bb11-c736-4e74-bd86-6331969861f0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1488,
        432
      ],
      "id": "afb29a95-120c-403f-8623-a441ba459b04",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1216,
        224
      ],
      "id": "4b64fe4e-7f27-4450-8a22-02e41ca90834",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NbFDNZdjZCNlr4ok",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Fetches the information and provide to the agent. Which is similar to query/prompt provide by the user.",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-bot",
          "mode": "list",
          "cachedResultName": "hr-bot"
        },
        "options": {
          "pineconeNamespace": "HRDocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        176
      ],
      "id": "fb1a34e2-6f6b-4d9d-a5d6-ed4967710815",
      "name": "hr_knowledge_base",
      "credentials": {
        "pineconeApi": {
          "id": "OUihx95zk3NFYnoj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        384
      ],
      "id": "6d6c6b35-1fac-4e79-8f10-7fa9ced6dbdb",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "NbFDNZdjZCNlr4ok",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "hr_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "hr_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "056d39f7-ff7c-414c-a66e-4637a46e68fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cff7ad16c3727bd87c2aec1b4da4fd643f49da1dc14a101f190b596015c8c04"
  },
  "id": "Krw2JFehhoDBfN0W",
  "tags": []
}