Human-in-loop-2.json
{
  "name": "Human-in-loop-2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c27d71c1-5708-4fd1-8a58-7086a0b83e3c",
      "name": "Telegram Trigger",
      "webhookId": "f444b7f1-50b2-4d7e-94d6-c08252c83bed",
      "credentials": {
        "telegramApi": {
          "id": "WZ9rl9dDRhTQgqpn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are an AI research and content generation agent operating inside an n8n workflow.\n\nContext:\n- You receive a single input string from Telegram. This input represents the topic or idea for a LinkedIn article.\n- You have access to an external research tool named \"search tool\" (Tavily).\n- Your task is to first research the topic using the search tool, and then write a LinkedIn-style article based on that research.\n\nYour responsibilities and constraints:\n\n1. Research Phase (MANDATORY FIRST STEP)\n- Always start by using the \"search tool\" to research the topic received from Telegram.\n- Perform broad but relevant research:\n  - Latest trends, statistics, or data points\n  - Expert opinions, industry insights, or credible sources\n  - Real-world examples or use cases if available\n- Collect enough information to meaningfully support a 400-word LinkedIn article.\n- DO NOT generate the article before completing research.\n- Treat the tool output as factual grounding for the article.\n\n2. Content Generation Phase\nAfter completing research, generate a LinkedIn article with the following requirements:\n\n- Length: Approximately 400 words (±10%).\n- Tone:\n  - Professional, insightful, and conversational\n  - Thought-leadership oriented (not salesy)\n  - Written for working professionals and decision-makers\n- Style:\n  - Short paragraphs (1–3 sentences each)\n  - Clear narrative flow\n  - Occasional emphasis using line breaks (LinkedIn-friendly formatting)\n- Content structure:\n  - Strong hook in the opening paragraph\n  - Clearly explain the topic and why it matters today\n  - Integrate insights, facts, or trends discovered during research\n  - Add practical implications or takeaways for professionals\n  - Conclude with a reflective or forward-looking closing thought (not a CTA like \"comment below\")\n\n3. Research Integration Rules\n- Explicitly incorporate insights derived from the research tool into the article.\n- Do not mention Tavily, the search tool, or “research shows” generically.\n- Present insights as natural knowledge within the narrative.\n- Avoid hallucinating statistics or facts not supported by research.\n\n4. Output Rules\n- Output ONLY the final LinkedIn article.\n- Do NOT include:\n  - Tool logs\n  - Research summaries\n  - Headings like “Introduction” or “Conclusion”\n  - Emojis\n  - Hashtags\n- The final output must be clean, ready-to-post LinkedIn content.\n\nToday's date: {{$now}} Today's Date is shared So that you can fetch latest information from the search tool. \n\nFollow this process strictly: Research first → Then write."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        16
      ],
      "id": "58a0c37e-0b25-443b-bcc4-72f0fc2f4537",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        224
      ],
      "id": "a0b813a7-71cd-4bbe-a5d1-e527af06b126",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "54tQxQIaFMxF91Sb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {
          "start_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Date', ``, 'string') }}",
          "end_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', ``, 'string') }}"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        336,
        224
      ],
      "id": "5880f6d5-5780-492d-b5cd-57f576e29e57",
      "name": "Search tool",
      "credentials": {
        "tavilyApi": {
          "id": "07LgYNQhBqXBn52b",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "=Is this good to go?\n\n{{ $json.article }}",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        16
      ],
      "id": "418ce53f-552f-45e3-b3c3-d0bf4b78fe6f",
      "name": "Send a text message",
      "webhookId": "18e2e070-cd22-4329-b9d7-4d9792f17902",
      "credentials": {
        "telegramApi": {
          "id": "WZ9rl9dDRhTQgqpn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved ",
              "description": "We're getting a feedback on the article. If it has phrases like,\n- Good to go \n- Fine \n- ok \n- Post it \n- and other positive and similar phrases"
            },
            {
              "category": "Not Approved",
              "description": "If it's not approved category. "
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        736,
        16
      ],
      "id": "c7f065ba-7f80-46d1-b3c8-c66b18a96295",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article - {{ $('Edit Fields').item.json.article }}\n\nFeedback - {{ $('Send a text message').item.json.data.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1088,
        112
      ],
      "id": "b8cc404b-62aa-4b7f-b18d-5855b63641e3",
      "name": "Revision Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcc8651f-319b-4406-91bd-4d42f192e821",
              "name": "article",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        32
      ],
      "id": "034abc9c-52d8-49d3-a65b-121df50f2f64",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1088,
        -80
      ],
      "id": "e3e319d0-d7d1-4e8a-b5d9-857204b2e449",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "21Lu9RfHlXp6rHpo",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Revision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revision Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bb70fac1-3ba7-4500-ba14-9e7f2afb7e33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6628e6a843d5ea8ef243d282bbca5553c86feaf62a51598d5f3857b2227043e"
  },
  "id": "46ahtYledXKNNtRw",
  "tags": []
}